{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Select Language and Register" %}</title>
</head>
<body>
    <h1>{% trans "Select Your Language" %}</h1>
    <form method="post" action="">
        {% csrf_token %}
        <button name="language" value="en" type="submit">English</button>
        <button name="language" value="ru" type="submit">Russian</button>
        <button name="language" value="kz" type="submit">Kazakh</button>
        <!-- Add more languages if needed -->
    </form>

    <hr>

    <h1>{% trans "Register" %}</h1>
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% trans "Register" %}</button>
    </form>
</body>
</html>
